* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

h1 {
	font-size: 300px;
	text-align: center;
	color: fuchsia;
}

/*shows logout button if user is signed in */
.hidden{
	display: none;
}

.user-info{
	display: flex;
}

/*github and review tab buttons*/
.tabs {
    display: flex;
    justify-content: space-around;
}

/*github repo style*/
.repo-coll {
    display: flex;
    flex-wrap: wrap;
}

.repo-container {
	width: 50%;
	border: 1px solid #ddd;
}