@font-face {
    font-family: 'BebasNeue Book';
    src: url("./bebas_neue/TTF's/BebasNeue_Book.ttf") format("truetype")
}

@font-face {
    font-family: 'BebasNeue Regular';
    src: url("./bebas_neue/TTF's/BebasNeue_Regular.ttf") format("truetype")
}

@font-face {
    font-family: 'Gotham Rounded Book';
    src: url("./GothamRoundedBook_21018.ttf") format("truetype")
}

* {
    font-family: 'Verela Round', Helvetica, Arial, sans-serif;
    box-sizing: border-box
}

body {
    background-color: #DEDEDE
}

h1 {
    font-size: 300px;
    text-align: center;
    color: fuchsia
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 600;
    width: 100%;
    background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSpgC-FP-bcCWQ7a56TItWVGapzkLv5-6k8i01-8Bey3cQEI0r82Q")
}

.UsersContainer,.register {
    margin: 10em 0 5em 0em
}

.user-container {
    background-color: #f2f2f2;
    border: 1px solid #c2d2d6;
    border-radius: 1em;
    margin-bottom: 5em;
    padding-left: 1em;
    padding-right: 1em;
}

.nav-bar {
    font-size: 1.75em;
    letter-spacing: 1px;
    vertical-align: middle;
    margin-top: 0.5em;
    text-align: center;
}

.nav-bar>a {
    color: #C0D1CE;
    text-decoration: none;
    margin-right: 1em
}

.logo h5 {
    font-family: 'BebasNeue Regular', sans-serif;
    font-size: 4em;
    letter-spacing: 0.1em;
    text-align: center;
    color: slategrey
}

.photo img {
    max-width: 100%;
    border: 1px solid #c2d2d6;
    border-radius: .3em
}

.repo-container div:first-child {
    padding-top: 0.2em;
    border-bottom-width: 0px;
}

.repo-coll {
    margin: 0;
    background-color: #fafbfe;
    height: auto;
    border: 1px solid #ddd;
}

.repo-container p {
    font-size: .7em;
    color: slategrey;
    padding-right: 15px;
    padding-left: 15px;
    height: 2em;
}

.repo-container span {
    color: #1E2A2D
}

.col-md-6.repo-container>* {
    padding: 0
}

.repo-name {
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 600;
    padding-bottom: .2em;
    width: 100%;
    margin-bottom: .1em;
    color: #337ab7;
}

.github nav {
    text-align: center
}

.review-container nav {
    text-align: center
}

.review {
    font-family: 'Gotham Rounded Book', sans-serif;
    background-color: #fafbfe;
    border-radius: 0 .2em 0 0;
    height: 25vh;
    overflow-y: scroll;
    border: 1px solid #ddd;
}

.review h6 {
    font-size: 1.1em;
    margin: 1em;
    letter-spacing: 0.05em;
    font-weight: 600
}

.review p {
    margin: 1em;
    font-size: 0.9em
}

.tabs div {
    letter-spacing: .2em;
    text-align: center;
    width: 50%
}

.tabs div:hover {
    cursor: pointer
}

.github-tab {
    border: 1px solid #ddd;
    border-radius: .5em 0 0 0;
    border-right-width: 0px
}

/*overwrites bootstrap active tab background color*/
.nav-tabs > li.active > a{
    background-color: #fafbfe;
}

.user-details {
    font-family: 'Gotham Rounded Book', sans-serif;
    font-size: .9em;
    padding: 0px
}

.user-details hr {
    margin-top: 0px;
    margin-bottom: 0px
}

.user-details p {
    margin: 0 0 .5em;
}

.hidden {
    display: none
}

.user-info {
    margin-bottom: 1em;
    border-bottom: .5em solid #c2d2d6;
    padding-bottom: 1em
}

.tabs {
    display: flex;
    justify-content: space-around
}

.tabs > ul{
    border-bottom-width: 0px;
}

#register-form, #edit-form {
    width: 70%;
    margin: auto;
}

label {
    font-family: 'Gotham Rounded Book', sans-serif;
    color: #1E2A2D
}

.nav-bar>a:hover {
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 0 1px snow;
    color: snow
}

.username h3 {
    text-align: center;
    color: #1E2A2D;
    letter-spacing: .1em
}

li>a {
    cursor: pointer
}
